<div class="container">
<div *ngIf="book" class="book-detail">
  <h2>{{ book.title }}</h2>
   
    <div style="display: flex;">
      <img [src]="book.thumbnailUrl" alt="{{ book.title }}" />
      <div>
        <p><strong>ISBN:</strong> {{ book.isbn }}</p>
        <p><strong>Authors:</strong> {{ book.authors.join(', ') }}</p>
        <p><strong>Categories:</strong> {{ book.categories.join(', ') }}</p>
        <p><strong>Page Count:</strong> {{ book.pageCount }}</p>
        <p><strong>Published Date:</strong> {{ book.publishedDate.$date  }}</p>
        <p><strong>Status:</strong> {{ book.status }}</p>
      </div>
    
    </div>
    <p><strong>Description:</strong> {{ book.longDescription }}</p>
  </div>
</div>