img{
    /* display: flex; */
    width: 30%;
    /* justify-content: center;
    margin: 0 auto;
    align-content: center; */

}
.container{
    display: flex;
    height: 100vh;
    /* background-color: #EAEAEE; */
    overflow-y: auto;
    align-items: center;
    flex-direction: column;
}

.title{
    font-size: 2em;
    color: #5F8F9A;
}

.text{
    width: 30%;
    text-align: center;
    color: #D5A653;
}
.btn{
    background-color: #5F8F9A;
    color: white;
    height: 40px;
    width: 20%;
    border: none;
    border-radius: 15px;
}
button:hover {
    background-color: #BEE0EB;
  }